* {
  box-sizing: border-box;
}

:root {
  --purple-heart-50: #f3f1ff;
  --purple-heart-100: #ebe5ff;
  --purple-heart-200: #d9ceff;
  --purple-heart-300: #bea6ff;
  --purple-heart-400: #9f75ff;
  --purple-heart-500: #843dff;
  --purple-heart-600: #7916ff;
  --purple-heart-700: #6b04fd;
  --purple-heart-800: #5a03d5; /* Color primario */
  --purple-heart-900: #4b05ad;
  --purple-heart-950: #2c0076;

  /* Funtes y tamaños de texto */
  --font-text: "Josefin Sans", sans-serif;
  --font-text_2: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-text);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.header {
  padding: 20px;
  border-bottom: 1px solid var(--purple-heart-400);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  grid-column: 1 / 13;
  grid-row: 1;
}

/* Parte 1 - Header */

.header-part__1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Parte 2 - Header */

.header-part__2 {
  display: flex;
  gap: 15px;
  margin-right: 10px;
  align-items: center;
  align-content: center;
}

.status {
  display: flex;
  gap: 5px;
  align-items: center;
}

.color-status {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}

.fa-gear,
.fa-chevron-left {
  font-size: 1.2em;
}

/* MAIN -> Contenido Principal  */

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  grid-column: 1 / 13;
  grid-row: 2 / 13;
}

.view-element {
  grid-column: 1/11;
  grid-row: 1/11;
}

.view-element {
  grid-column: 1/10;
  grid-row: 1/11;
  background-image: url(../../sources/img/img-wrapper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.909);
}

.container-panel__desing {
  grid-column: 10/13;
  grid-row: 1/11;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-left: 1px solid var(--purple-heart-400);
  border-right: 1px solid var(--purple-heart-400);
}

.container-colors {
  border-top: 1px solid var(--purple-heart-400);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.colors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box-color {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #2c0076;
}

.container-panel__footer {
  grid-column: 1/13;
  grid-row: 11/13;
  background-color: var(--purple-heart-300);
}
