body {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(71, 82, 94);
    background-color: white;
}

.bienvenida-logo {
    position: absolute;
    left: 200px;
    top: 30px;
    color: rgb(71, 82, 94);
    font-size: 20px;
}


#logo-carxy-bienvenida {
    width: 80%;
    position: absolute;
    left: 40px;
    top: 30px;
}

.iniciarsesion {
    position: absolute;
    left: 900px;
    top: 60px;
}

#iniciarsesion-cuenta {
    color: rgb(109, 0, 255);
    text-decoration: none;
    font-size: 15px;
    margin-left: 65px;
    position: absolute;
    top: 60px;
}

#sesion-invitado {
    font-size: 30px;
}
.ingresarusuario-invitado {
    position: absolute;
    left: 900px;
    top: 260px;
}

#label-nombreusuario {
    font-size: 20px;
}

#input-usuarioinvitado {
    height: 50px;
    width: 300px;   
    border: none;
    border-bottom: 1px solid rgb(137, 99, 244);
    outline: 0px;
    position: absolute;
    left: 1px;
    background: none;
}

#input-usuarioinvitado::placeholder {
    color: rgb(231, 221, 244);
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 30px;
}

.iniciarsesion-registro {
    position: absolute;
    left: 900px;
    top: 550px;
}

#boton-iniciarsesion {
    background-color: rgb(151, 109, 208);
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    width: 120px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
}

#boton-registro {
    background: none;
    color: rgb(71, 82, 94);
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    width: 120px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(71, 82, 94);
    margin-left: 20px;
}