<aside>
  <div class="containerOne">
    <div class="container-icons">
      <img src="../../favicon.ico" alt="logo" />
      <nav class="main-nav">
        <ul class="main-list">
          <li class="list-item">
            <a routerLink="/inicio" routerLinkActive="active" class="list-link"
              ><i class="fa fa-home list-icon"></i
            ></a>
          </li>
          <li>
            <a routerLink="/panel" routerLinkActive="active" class="list-link"
              ><i class="fa fa-pencil list-icon"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="" class="list-link"><i class="fa fa-user list-icon"></i></a>
  </div>
</aside>
