<aside>
  <div class="containerOne">
    <div class="container-icons">
      <img src="../../favicon.ico" alt="logo" class="baner-icon" />
      <nav class="main-nav">
        <ul class="main-list">
          <li class="list-item">
            <a routerLink="/inicio" routerLinkActive="active" class="list-link"
              ><i class="fa fa-home list-icon"></i
            ></a>
          </li>
          <li>
            <a routerLink="/panel" routerLinkActive="active" class="list-link"
              ><i class="fa fa-pencil list-icon"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <button (click)="ShowElements()" class="list-link">
      <i class="fa fa-user list-icon"></i>
    </button>
  </div>

  @if (ModalIsopen === true) {
  <div class="elementsView">
    <ul>
      <li>Configuaración</li>
      <li routerLink="/login" (click)="logout()">Cerrar Sesión</li>
      <li>Ayuda</li>
    </ul>
  </div>
  }
</aside>
