<aside>
  <div class="containerOne">
    <div class="container-icons">
      <img src="./sources/img/Logo5__main.png" alt="logo" />
      <nav class="main-nav">
        <ul class="main-list">
          <li class="list-item">
            <a href="#" class="a_disable"
              ><i class="fa fa-home list-icon"></i
            ></a>
          </li>
          <li>
            <a href="./public/desings/panel-desing.html" class="a_active"
              ><i class="fa fa-pencil list-icon"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="" class="list-link"><i class="fa fa-user list-icon"></i></a>
  </div>
</aside>
