<div class="contaiener_1">
    <div class="bg_wrapper"></div>
    <div class="main">
      <span>Bienvenido a</span>
      <div class="container-img">
        <img
          src="../../assets/Logo__main.png"
          alt="Logo Carxy"
          class="main-img"
        />
      </div>
    </div>
  </div>
  <div class="container_2">
    <div class="container">
      <div class="container_3">
        <span>Crea tu cuenta</span>
      </div>
      <form action="" method="post">
        <div class="group-input">
          <label for="init">Nombre de usuario</label>
          <input
            type="text"
            id="init"
            name="Guest"
            placeholder="Ingresa tu usuario"
          />
        </div>
        <div class="group-input">
          <label for="init">Correo</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Ingresa tu correo"
          />
        </div>
        <div class="group-input">
            <label for="init">Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Ingresa una contraseña"
            />
          </div>
  
        <div class="container-button">
          <!-- ../../index.html -->
          <a routerLink="/login" class="button btn-1">Registrarse</a>
          <!-- ./registro.html -->
          <a routerLink="/login" class="button btn-2">Iniciar sesion</a>
        </div>
      </form>
    </div>
  </div>  